body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("Screenshot\ 2025-08-31\ 045729.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
.card {
    background-color: beige;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0,0,0,0.5);
  width: 500px;
}
.title {
  font-size: 40px;
  color: #ff3399;
  text-shadow: 3px 3px 6px #000;
  margin-bottom: 20px;
}
.message {
  font-size: 22px;
  color: #333;
  margin-bottom: 30px;
  text-decoration: underline;
}
.btn {
  font-size: 20px;
  padding: 12px 25px;
  background-color: #ff66cc;
  border: none;
  border-radius: 30px;
  color: white;
  cursor: pointer;
  transition: 0.3s ease;
  text-shadow: 1px 1px 3px black;
  
}
.btn:hover {
  background-color: #ff3385;
  transform: scale(1.1);
}